*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    background-color: #1B1A17;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%; 
}
.navbar img{
    max-width: 200px;
    margin-right: 10px;
    
}
.navbar ul{
    display: flex;
    /*flex-direction: row;*/
    list-style: none;
    gap: 30px;

}
.navbar li a{
    font-size: 22px;
    color: beige;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-right-style: groove;
    border-right-width: 3px;
    border-right-color: #FFEBEB;
}
.fondo{
    background-image: url(../assets/image/9.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
}

.contenido{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /*grid-template-areas: 
    "column1 column2"
    "column1 column2"
    "column1 column2"; */
}
.column1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; 
    /*height: 40%;*/
    padding: 12px;
    margin: 20px;
    
}
.column1 h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.column1 p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 20px;
}
.column2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 8;
    padding: 20px;
    /*width: 100%;*/ /*variable en observacion*/
    /*height: auto;*/
}
.column2 h2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-indent: 10px;
    
}
form{
    /*display: block;*/
    color: #272726;
    background-color: #C8B6A6;
    border-radius: 15px;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 5px;
    margin: 5px;
    width: 45vw;
    /*height: auto;*/
    
}

form label, form input{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    text-indent: 10px;
}

.column2 form label[for="mycheckbox"] {
    display: flex;
    
}
.column2 form input[type="checkbox"] {
    align-items: center; /*puede estar dentro la clase de arriba*/
}
.flexbox{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -35%;
    

    
}

.grid1{
    background-color: #1B1A17;
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 73%;
    height: 200px;
    grid-area: 
    "block1 block2 block3"
    "block1 block2 block3"
    "block1 block2 block3";
}

.block1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    font-family: 'Poppins', sans-serif;
    justify-self: center;
    align-self: center;
    
}

.block2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    font-family: 'Poppins', sans-serif;
    justify-self: center;
    align-self: center;
    
}
.block3{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 7;
    font-family: 'Poppins', sans-serif;
    justify-self: center;
    align-self: center;
}

.grid-flex{
    width: 100%;
    height: 100vh;
    background-color: #a78d95;
    /*padding-top: 10%;*/
}
.hijo1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    /*margin-top: 30px;*/
    /*padding-top: 15%;*/
    width: 100%;
    height: 23%;
}
.hijo2{
    width: 100%;
    height: 77%; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /*gap: 20px;*/
    margin-top: 30px;
    
    /*grid-area: 
    "content1 content2 content3"
    "content1 content2 content3"
    "content1 content2 content3"; */

}
.content1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 25px 0 25px;


}
.content1 strong{
    font-size: 17px;
    margin-top: 10px;
}
.content1 p{
    font-size: 15px;
    margin-top: 10px;
}
.content1 button{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 4px solid rebeccapurple;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.content2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    gap: 10px;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 25px 0 25px;
    
}
.content2 strong{
    font-size: 17px;
    margin-top: 10px;
}
.content2 p{
    font-size: 15px;
    margin-top: 10px;
}
.content2 button{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 4px solid rebeccapurple;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.content3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    /*grid-template-rows: auto auto;*/
    /*grid-gap: 10px;*/
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 25px 0 25px;
}
.content3 strong{
    font-size: 17px;
    margin-top: 7%;
}
.content3 p{
    font-size: 15px;
    margin-top: 10px;
}
.content3 button{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 11%;
    border: 4px solid rebeccapurple;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #FFC38B;
}
.parte3{
    width: 100%;
    height: auto;
    background-color: #D4FAFC;
}
.title3{
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}
.title3 h2{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.title3 p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
}
.container-grid3{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(55, 1fr);
    grid-area: 
    "columna1 columna2 columna3-p columna3 columna4"
    "columna1 columna2 columna3-p columna3 columna4"
    "columna1 columna2 columna3-p columna3 columna4";
}
.columna1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 55;
    display: grid;
    grid-gap: 10px;
    justify-items: center; /*se puede anular esta propiedad no hace diferencia*/
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 10px;
}

.columna2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 55;
    display: grid;
    gap: 12px;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(87, 85, 85, 0.5);
    border-radius: 10px;
    margin: 5px;
}
.columna2 strong{
    font-size: 25px;
}
.columna2 button{
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border: 4px solid rgb(45, 45, 46);
    background-color: #E57C23;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.columna2 button:hover{
    background-color: #f3f3f3;
    color: black;
}
.columna3-p{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
    /*display: grid;*/
    justify-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    background-color: rgb(145, 83, 207);
    color: #fff;
    border-radius: 10px;
}
.columna3{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 55;
    display: grid;
    gap: 12px;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(87, 85, 85, 0.5);
    border-radius: 10px;
    margin: 5px;
}
.columna3 strong{
    font-size: 25px;
}
.columna3 button{
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border: 4px solid rgb(45, 45, 46);
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E57C23;
    color: white;
}
.columna3 button:hover{
    background-color: #f3f3f3;
    color: black;
}
.columna4{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 55;
    display: grid;
    gap: 12px;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(87, 85, 85, 0.5);
    border-radius: 10px;
    margin: 5px;
}
.columna4 strong{
    font-size: 25px;
}
.columna4 button{
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border: 4px solid rgb(45, 45, 46);
    background-color: #E57C23;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.columna4 button:hover{
    background-color: #f3f3f3;
    color: black;
}
.note{
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    padding: 25px;
}
.parte4{
    width: 100%;
    height: auto; /*revisar este valor*/
}
.segmento-flex{
    background-image: url(../assets/image/imagen-parte4.jpg);
    background-size: cover;
    width: 100%;
    height: 397px;
    background-position: center;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;

}

.segmento-flex h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 20px;
    color: #d3cccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}
.segmento-flex button{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 18%;
    height: 40px;
    border-radius: 10px;
    border: 4px solid #E45826;
    font-weight: 400px;
}
.segmento-grid{
    width: 100%;
    height: auto; /*revisar esta modificacion*/
    background-color: #DEDEA7;
}
.sec-title{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 50px;
    /*width: 100%;*/
    /*height: auto;*/ /*verificar si no cuadra*/
}
.sec-grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /*grid-area:
    "sec1 sec2 sec3 sec4"
    "sec1 sec2 sec3 sec4"
    "sec1 sec2 sec3 sec4"; */
}
.sec1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
.sec2{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 7;
    font-size: 20px;
}
.sec3{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 12;
    grid-row-end: 20;
}
.sec4{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 14;
    grid-row-end: 18;
    font-size: 20px;
}
.footer-1{
    background-color: #B8E7E1;
    display: grid;
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-area: 
    "foot1 foot2 foot3 foot4"
    "foot1 foot2 foot3 foot4"
    "foot1 foot2 foot3 foot4";
}
.foot1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 12;
}
.foot1 strong{
    font-size: 18px;
}
.foot2{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 12;
    
}
.foot2 strong{
    font-size: 18px;
}
.foot3{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 12;
}
.foot3 strong{
    font-size: 18px;
}
.foot4{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 6;
    font-size: 18px;    
}
.foot4 strong{
    font-size: 18px;
}
.footer-2{
    /*aplicamos grid para luego aplicar flex */
    background-color: #B8E7E1;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-final{
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100px;
    align-items: center;
    gap: 17px;
    background-color: #B8E7E1;
}